---
title: خطاهای رایج
icon: fa-book-dead
order: 5
---
  <div>
    <ul>
      <li>
        نام نبردن از OpenStreetMap
      </li>
      <li>
        نام بردن فقط از ارائه‌دهندهٔ نقشه مانند leaflet و عدم اشاره به OpenStreetMap
      </li>
      <li>
        نوشتن نام به صورت کوتاه‌شدهٔ OSM
      </li>
    </ul>
  </div>
