---
title: خانه
cover-photo: assets/images/banner.jpg
cover-photo-alt: example cover photo
auto-header: none
icon: fa-home
order: 1
---
<header>
  <h2 class="alt">حق رونوشت اوپن‌ استریت مپ ایران</h2>
  <p>
    تمامی پایگاه‌ها و برنامه‌هایی که از نقشه‌های اوپن‌استریت‌مپ استفاده می‌کنند، باید به صورت واضح، این امر را روی نقشه اعلام کرده و حق رونوشت را برای توسعه‌دهندگان اوپن‌استریت‌مپ محفوظ دارند.
  </p>
</header>

<footer>
  <a href="#خطاهای-رایج" class="button scrolly">خطاهای رایج</a>
</footer>
