---
title: زشت‌ها
icon: fa-star-half-alt
order: 4
---

  <p>
    پایگاه‌های زیر، حق رونوشت را به صورت ناقص اجرا نموده‌اند. برای اطّلاعات بیش‌تر، بخش <a href="#خطاهای-رایج" class="scrolly">خطاهای رایج</a> را ببینید.
  </p>

{%- assign _id = 'ugly' -%}
{%- assign _items = site.items | where: 'type', _id | sort: 'title' -%}

{%- include panel.html _items=_items _id=_id -%}
