<!-- Footer -->
<div id="footer">
  
  <!-- Copyright -->
  <ul class="copyright">
    {% if site.title or site.author %}
      <li>&copy; {{- site.title | default: site.author -}}. برخی حقوق محفوظ است.</li>
    {% endif %}
    <li>منتشر شده با پروانهٔ <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.fa">CC BY-SA 4.0 </a><span class="fab fa-creative-commons"></span></li>
  </ul>
  
</div>
