{%- comment -%}
  Include vars:
  scrolly_nav
  links
{%- endcomment -%}

<!-- Header -->
<div id="header">
  <div class="top">
    {%- include logo.html -%}
    {%- include nav.html section_items=include.scrolly_nav link_items=include.links -%}
  </div>
  <div class="bottom">
    {%- include social_icons.html -%}
  </div>
</div>
